body {
	width: 768px;
	margin: 0 auto;
}

@font-face {
	src: url("./../fonts/raleway/Raleway-Bold.ttf");
	font-family: Raleway;
	font-weight: 700;
}

@font-face {
	src: url("./../fonts/raleway/Raleway-SemiBold.ttf");
	font-family: Raleway;
	font-weight: 600;
}

@font-face {
	src: url("./../fonts/raleway/Raleway-Regular.ttf");
	font-family: Raleway;
	font-weight: 400;
}

.introducing {
    background-image: url("../images/bg.jpg");
    background-color: #3e3c8c;
    -webkit-background-size: contain;
    background-size: cover;
    background-position: 50%;
    padding: 40px;
    width: 100%;
}

.main-menu {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	padding: 20px;
	width: 80%;
}

.main-menu-list li {
    display: inline-block;
    padding: 0 0 0 15px;
    list-style-type: none;
    text-transform: uppercase;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 13px;
}

.menu {
	color: #fff;
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-weight: 600;
	font-size: 22px; 
}

.big-title {
    text-transform: capitalize;
    font-family: Raleway;
    font-weight: 700;
    font-size: 42px;
    line-height: 36px;
    padding: 15px 0 0 0;
    margin: 15px 0 0 0;
}

.menu-list {
	list-style-image: url(../images/arrow.png);
	list-style-position: inside;
	padding: 15px 0;
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 16px;
}

.mobile {
	text-align: center;

}

.green-title {
    color: #1ab798;
    text-align: center;
    background: white;
    padding: 15px;
    width: 100%;
    line-height: 36px;
    text-transform: uppercase;
    font-family: Raleway;
    font-weight: 700;
    font-size: 28px;
}

.mobile__text {
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-align: center;
	padding: 15px 40px;
	margin: 10px 40px; 
}

.mobile__content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
}

.mobile__item {
	list-style-position: outside;
	padding: 15px 0;
	font-family: Raleway;
	font-weight: 700;
	font-size: 18px;
}

.mobile__item-1 {
	list-style-image: url(../images/icon1.png);
}

.mobile__item-2 {
	list-style-image: url(../images/icon2.png);
}

.mobile__item-3 {
	list-style-image: url(../images/icon3.png);
}

.mobile__item-4 {
	list-style-image: url(../images/icon4.png);
}

.mobile__item-5 {
	list-style-image: url(../images/icon5.png);
}

.mobile__item-6 {
	list-style-image: url(../images/icon6.png);
}

.video {
	background: #00e2ff;
	padding: 20px;
}

.video__title {
	color: #222222;
	text-align: left;
    margin: 20px;
    padding: 15px;
    width: 100%;
    line-height: 18px;
    text-transform: uppercase;
    font-family: Raleway;
    font-weight: 700;
}

.video__list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    width: 300px;
    text-align: left;
}

.photo {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	margin: 55px 0 0;
	max-width: 90%;
	margin: 0 auto;
}

.photo-item {
    display: inline-block;
    color: #062033;
    text-align: center;
    position: relative;
    width: 270px;
    height: 300px;
}


.photo__image {
	width: 270px;
	height: 300px;
	position: relative;
	margin: 0 auto;
}

.photo__image img {
	width: inherit;
}

.photo__image:before {
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;
	position: absolute;
	background: #1ab798;
	opacity: 0.7;
	position: absolute;
	transition: all 2s;
    opacity: 0;
	/*display: none;*/
}

.photo-item-hover {
	position: absolute;
	width: 100%;
	height: 100%;
	color: #fff;
	font-size: 16px;
	line-height: 24px;
	padding: 30px;
	box-sizing: border-box;
	z-index: 1;
	transition: all 0.5s;
    opacity: 0;
	/*display: none;*/	
}

.photo-item:hover .photo-item-hover,
.photo-item:hover .photo__image:before {
	opacity: 1;
	/*display: block;*/
}

.photo-hover__title {
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-weight: 700;
	margin: 20px 0 0 0;
}

.photo-hover__subtitle {
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-weight: 400;
	display: block;
	margin: 10px 0 0 0;
}

.photo__title {
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
}

.photo__subtitle {
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 24px;
	width: 80%;
	display: block;
	margin: 0 auto; 
}

.customer {
	text-align: center;
}

.customer__image {

}

.contact {
	background-image: url("../images/contact (in front of).jpg");
	background-image: url("../images/contact (behind).jpg");
	background-color: #000;
	width: 100%;
}

.contact__title {
	color: #fff;
	text-align: center;
	line-height: 28px;
	text-transform: uppercase;
	font-family: Raleway;
	font-weight: 700;
}

.contact__subtitle {
	color: #fff;
	text-align: left;
	line-height: 24px;
}

.contact__text {
	color: #fff;
	text-align: left;
	line-height: 21px;
}

.contact__item {
	color: #bface2;
	text-align: left;
	line-height: 21px;
}

.my-form {
	max-width: 300px;
	text-align: right;
}

.form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.my-input {
	margin: 20px 0 0 0;
}

.my-textarea {
	margin: 20px 0 0 0;
	width: 100%;
}

.my-button {
	display: inline-block;
}
